.container { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
    height: 100vh;
}
    
.item{
    border-style: dashed;
}
.item:nth-child(1){height:30;}
.item:nth-child(2){height:60px;}
.item:nth-child(3){height:100px;}