*{
  margin: 0;
  padding: 0;

}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef9f6;
  color: #3e2c1c;
  width: 100%;
  height: auto;
}

header {
  background-color: #5e3829;
  color: white;
  text-align: center;
}


nav{
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: white;
  padding-top: 15px;
}
.menu{
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

h1{
  justify-content: center;
  row-gap: 10;
}
h2{
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

a{
  text-decoration: none;
  color: #fef9f6;
}


.galeria{
    background-color: #fef9f6;
}
.cartoes, img{
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 130px;
  gap: 2rem;
}
p{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 3px;
}
footer{
  background-color: #5e3829;
  height: 80px;
  width: 100%;
  color: #fef9f6;
  padding-top: 12px;
  bottom: 0;
  display: flex;
  
}


main{
  height: 60vh;
}
.butao-card{
  border-radius: 12;
  border: 4px,#5e3829, solid;
  
}


