 body {
      font-family: sans-serif;
      background: #f9f9f9;
      padding: 20px;
    }
    h2 {
      background: #4caf50;
      color: white;
      padding: 10px;
    }
    .exercicio {
      border: 2px dashed #ccc;
      padding: 15px;
      margin: 20px 0;
      background: #fff;
    }
    .container {
      border: 1px solid #999;
      margin-top: 10px;
      padding: 10px;
      align-items: center;
    }
    .container-exerc1{
      align-items: center;
      
    }
    .item {
      background: #2196f3;
      color: white;
      padding: 10px;
      margin: 5px;
      
    }
    .item-exerc2{
      text-align: center;
    }